{% load static %}
<body>
  
  <div id="main">
    {% include "blog/top_container.html" %}
    {% include "blog/site_content.html" %}
    {% include "blog/footer.html" %}
  </div>
  <!-- javascript at the bottom for fast page loading -->
  <script type="text/javascript" src="{% static 'blog/js/jquery.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'blog/js/jquery.easing.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'blog/js/jquery.lavalamp.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'blog/js/image_fade.js' %}"></script>
  <script type="text/javascript">
    $(function() {
      $("#lava_menu").lavaLamp({
        fx: "backout",
        speed: 700
      });
    });
  </script>
</body>
</html>

